.header{
    font-family: 'Franklin Gothic';
    padding: 10px 10px;
    background-color: #e2c7c7;
    text-align: center;
    border: 5px solid #e2c7c7;
    border-bottom: #e2c7c7;
}

.header a{
    display: block;
    block-size: 50px;
    font-size: xx-large;
    text-align: center;
}

.header a:hover{
    color: orange;
    background-color: #ffe6e6;
}

body{
    background-color: #ffe6e6;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.holder img{
    width: 325;
    height: 100%;
    border: 2px solid;
}

.holder img:hover{
    width: 500;
    height: auto;
}
